.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4a148c;
    color: white;
  }
  
  .navbar-logo img {
    width: 150px;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #e53935;
    color: white;
    border: none;
    cursor: pointer;
  }
  